<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>login</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
						<p>
							2009/11/20 
							<br />
							<a th:href="@{/login}">点我登录</a>
						</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					
					
					
				<ul>
					<li>◾️path：<div th:text="${path}"></div>
					</li>
					<li>◾timestamp：<div th:text="${#dates.format(timestamp,'yyyy-MM-dd HH:mm:ss SSS')}"></div>
					</li>
					<li>◾status：<div th:text="${status}"></div>
					</li>
					<li>◾error：<div th:text="${error}"></div>
					</li>
					<li>◾exception：<div th:text="${exception}"></div>
					</li>
					<li>◾messages：<div th:text="${messages}"></div>
					</li>
					<li>◾trace：<div th:text="${trace}"></div>
					</li>
				</ul>
					
					
					
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@163.com
				</div>
			</div>
		</div>
	</body>
</html>
