<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>学生list</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<div id="wrap">
		<div id="top_content">
			<div id="header">
				<div id="rightheader">
					<p>
						2009/11/20
						<br />
						<a th:href="@{/menu}">返回菜单</a>
						<a th:if="${session.user!=null}" th:href="@{/user/logout}">安全退出</a>
						<a th:if="${session.user==null}" th:href="@{/login}">点我登录</a>
					</p>
					<p><label style="color: darkred;"> 01.实现表的增删改查 </label></p>
				</div>
				<div id="topheader">
					<h1 id="title">
						<a href="#">main</a>
					</h1>
				</div>
				<div id="navigation">
				</div>
			</div>
			<div id="content">
				<p id="whereami">
				</p>
				<h1>
					欢迎 <span th:if="${session.user!=null}" th:text="${session.user.username}"></span>
					<span th:if="${session.user==null}">游客</span>!
				</h1>


				<form action="save">

					<table>
						<tr>
							<td>会社名前</td>
							<td><input name="name"></input></td>
						</tr>
						<tr>
							<td>会社類型</td>
							<td> <select name="type">
									<option value="">--Please choose an option--</option>
									<option value="00">株式会社</option>
									<option value="01">合同会社</option>
								</select></td>
						</tr>
						<tr>
							<td>会社人数</td>
							<td> <input name="peoplenum"></input></td>
						</tr>
						<tr>
							<td>会社設立年月日</td>
							<td> <input type="date" name="beginday"></input></td>
						</tr>

					</table>

					<p><input type="submit" class="button" value="追加"></p>
				</form>
			</div>
		</div>
		<div id="footer">
			<div id="footer_bg">
				ABC@126.com
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		var objLst = /*[[${objLst}]]*/ {};
		console.log(objLst);
	</script>

</body>

</html>