<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>更新队伍信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>

<body>
	<div id="wrap">
		<div id="top_content">
			<div id="header">
				<div id="rightheader">
					<p>
						<span th:text="${#dates.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></span>
						<br />
					</p>
				</div>
				<div id="topheader">
					<h1 id="title">
						<a href="#">main</a>
					</h1>
				</div>
				<div id="navigation">
				</div>
			</div>
			<div id="content">
				<p id="whereami">
				</p>
				<h2 th:if="${error!=null}" th:text="${error}" style="color:red"></h2>

				<h1>
					更新队伍信息:
				</h1>
				<form th:action="@{/hakoneekidenranking/update}" method="post">
					<table cellpadding="0" cellspacing="0" border="0" class="form_table">
						<tr>
							<td valign="middle" align="right">
								编号:
							</td>
							<td valign="middle" align="left">
								<span th:text="${obj.id}"></span>
								<input type="hidden" name="id" th:value="${obj.id}">
							</td>
						</tr>
						<tr>
							<td valign="middle" align="right">
								排名:
							</td>
							<td valign="middle" align="left">
								<input type="text" class="inputgri" name="position" th:value="${obj.position}" />
							</td>
						</tr>
						<tr>
							<td valign="middle" align="right">
								队伍名称:
							</td>
							<td valign="middle" align="left">
								<input type="text" class="inputgri" name="teamName" th:value="${obj.teamName}" />
							</td>
						</tr>
						<tr>
							<td valign="middle" align="right">
								当前头像:
							</td>
							<td valign="middle" align="left">
								<img th:src="@{/}+${obj.photo}" width="60">
								<input type="hidden" th:value="${obj.photo}" name="photo">
							</td>
						</tr>
						<tr>
							<td valign="middle" align="right">
								选择新头像:
							</td>
							<td valign="middle" align="left">
								<input type="file" name="img" />
							</td>
						</tr>
						<tr>
							<td valign="middle" align="right">
								记录时间:
							</td>
							<td valign="middle" align="left">
								<input type="text" class="inputgri" name="record"
									th:value="${#dates.format(obj.record,'HH:mm:ss')}" />
							</td>
						</tr>
					</table>
					<p>
						<input type="submit" class="button" value="更新" />

						<input type="button" class="button" value="返回列表" onclick="returnHakoneEkidenRankingLst()" />
						<script>

							function returnHakoneEkidenRankingLst() {
								location.href = '[[@{lists}]]';
							}

						</script>
					</p>
				</form>
			</div>
		</div>
		<div id="footer">
			<div id="footer_bg">
				ABC@126.com
			</div>
		</div>
	</div>
</body>

</html>