<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>emplist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<script>
		function addRec () {
			location.href = '[[@{/manageUniqloAdd}]]';
		}
		
		
	</script>
</head>

<body>
	<div id="wrap">
		<div id="top_content">
			<div id="header">
				<div id="rightheader">
					<p>
						2009/11/20
						<br />
						<a th:href="@{/menu}">返回菜单</a>
						<a th:if="${session.user!=null}" th:href="@{/user/logout}">安全退出</a>
						<a th:if="${session.user==null}" th:href="@{/login}">点我登录</a>
					</p>
				</div>
				<div id="topheader">
					<h1 id="title">
						<a href="#">main</a>
					</h1>
				</div>
				<div id="navigation">
				</div>
			</div>
			<div id="content">
				<p id="whereami">
				</p>
				<h1>
					欢迎 <span th:if="${session.user!=null}" th:text="${session.user.username}"></span>
					<span th:if="${session.user==null}">游客</span>!
				</h1>


				<form th:action="@{/uniqlo/addUniqlo}" method="post">

					<table>
<!--						<tr>-->
<!--							<td>适用性别</td>-->
<!--							<td>-->
<!--								<label><input type="radio" name="sex" value="2" th:checked="(${sex} == 2)" >ALL</label>-->
<!--								<label><input type="radio" name="sex" value="1" th:checked="(${sex} == 1)">男</label>-->
<!--								<label><input type="radio" name="sex" value="0" th:checked="(${sex} == 0)">女</label>-->
<!--							 </td>-->
<!--						</tr>-->
						
						
						
						<tr>
							<td>商品名称</td>
							<td><input type="text" name="uniqlo.name" th:value="${vo.uniqlo.name}"></td>
						</tr>
					
						<tr>
							<td>单价</td>
							<td><input type="text" name="uniqlo.price" th:value="${vo.uniqlo.price}"> </td>
						</tr>
						
						<tr>
							<td>生产日期</td>
							<td><input type="date" name="uniqlo.saleBegin" th:value="${vo.uniqlo.saleBegin}">
							 ～<input type="date" name="uniqlo.saleEnd" th:value="${vo.uniqlo.saleEnd}"></td>
						</tr>
						
					</table>


					<div align="right">
						 <input type="submit" value="追加" >
					</div>


				</form>

				xxxxxxxxxxxxxxxxxxx  add uniqlo

			</div>
		</div>
		<div id="footer">
			<div id="footer_bg">
				ABC@126.com
			</div>
		</div>
	</div>
</body>

</html>