<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.baizhi.dao.EmpDAO">

    <cache type="com.baizhi.cache.RedisCache"/>

    <!--findAll-->
    <select id="findAll" resultType="Emp">
        select id,name,path,salary,age from t_emp
    </select>

    <!--save-->
    <insert id="save" parameterType="Emp" useGeneratedKeys="true" keyProperty="id">
        insert  into t_emp values(#{id},#{name},#{path},#{salary},#{age})
    </insert>

    <!--delete-->
    <delete id="delete" parameterType="String">
        delete from t_emp where id = #{id}
    </delete>

    <!--findOne-->
    <select id="findOne" parameterType="String" resultType="Emp">
        select id,name,path,salary,age from t_emp
        where id = #{id}
    </select>

    <!--update-->
    <update id="update" parameterType="Emp">
        update t_emp set
        name =#{name},
        path = #{path},
        salary = #{salary},
        age = #{age}
        where
        id = #{id}
    </update>
</mapper>