<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>物件検索一覧</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<script th:src="@{/js/plug-in/jquery/jquery-3.7.1.min.js}"></script>


	<style>
	    /* コンボボックスの幅を固定値に設定 */
	    select.fixed-width {
	        width: 120px; /* 固定幅 */
	    }
	</style>

	<script th:inline="javascript">

		
	function funDensyaType(){
		$("input[type='submit']").prop("disabled", true);

		const densyaSelect = $("select[name='densyaNo']")[0];

		// 選択肢を初期化
		densyaSelect.innerHTML = "<option>Loading...</option>";

		$.ajax({

			// request url
			url: 'ajaxGetDensyaName',

			// post,get
			type: 'POST',

			async: false,  // 同期リクエスト

			contentType: 'application/json',

			data: JSON.stringify({

				densyaType: $("select[name='densyaType']").val()

			}),


			success: function (response) {

				console.log(response.densyaLst);

				densyaSelect.innerHTML = ""; // 初期化
				
				const optionBlank = document.createElement("option");
				optionBlank.value = "";
				optionBlank.textContent = "";
				densyaSelect.appendChild(optionBlank);
				
				for (var i = 0; i < response.densyaLst.length; i++) {
					const option = document.createElement("option");
					option.value = response.densyaLst[i].densyaNo;
					option.textContent = response.densyaLst[i].densyaName;
					densyaSelect.appendChild(option);
				}
				
				$("select[name='ekiNo']").empty(); // 初期化
				$("input[type='submit']").prop("disabled", false);

			},
			error: function (error) {
				$("input[type='submit']").prop("disabled", false);

				alert('funDensyaType error !!');
			}
		});
		
	}
	
	function funDensyaNo() {
		$("input[type='submit']").prop("disabled", true);
		const ekiNoSelect = $("select[name='ekiNo']")[0];

		// 選択肢を初期化
		ekiNoSelect.innerHTML = "<option>Loading...</option>";

		$.ajax({

			// request url
			url: 'ajaxGetDensyaName02',

			// post,get
			type: 'POST',

			async: false,  // 同期リクエスト

			contentType: 'application/json',

			data: JSON.stringify({
				densyaType: $("select[name='densyaType']").val(),
				densyaNo: $("select[name='densyaNo']").val()

			}),


			success: function (response) {

				console.log(response.densyaEkiLst);

				ekiNoSelect.innerHTML = ""; // 初期化
				
				const optionBlank = document.createElement("option");
				optionBlank.value = "";
				optionBlank.textContent = "";
				ekiNoSelect.appendChild(optionBlank);
				
				for (var i = 0; i < response.densyaEkiLst.length; i++) {
					const option = document.createElement("option");
					option.value = response.densyaEkiLst[i].ekiNo;
					option.textContent = response.densyaEkiLst[i].ekiName;
					ekiNoSelect.appendChild(option);
				}
				
				$("input[type='submit']").prop("disabled", false);
			},
			error: function (error) {

				alert('funDensyaNo error !!');
				$("input[type='submit']").prop("disabled", false);
			}
		});
	}
	
	// HTMLのすべてのタグを読込後、実行する
	$(document).ready(function () {

		$("input[type='submit']").prop("disabled", true);
		
		
		if($("select[name='densyaType']").val()) {
			funDensyaType();
			
			const vo = /*[[${vo}]]*/"vp";
			$("select[name='densyaNo']").val(vo.densyaNo);
		}
		
		if($("select[name='densyaNo']").val()) {
			funDensyaNo();
			
			const vo = /*[[${vo}]]*/"vp";
			$("select[name='ekiNo']").val(vo.ekiNo);
			
		} else {
			
			$("input[type='submit']").prop("disabled", false);
		}

	
		$("input[type='submit']").click(function () {
			$(this).prop("disabled", true);
			$("#formSearch").submit();
		});
		


		$("select[name='densyaType']").change(function () {

			funDensyaType();

		});



		$("select[name='densyaNo']").change(function () {
			funDensyaNo();
		});

		
		

	});

		
	</script>


	<script th:inline="javascript">
		$(document).ready(function () {
			$("#selectAll").change(function () {
				var isChecked = $(this).prop("checked");
				$(".checkbox").prop("checked", isChecked);
			});
		});


		function delAllRec() {

			if ($(".checkbox:checked").length > 0) {
				if (window.confirm('選択されたレコードを削除しますか？')) {

					$('#formLst').submit();
				}
			} else {
				alert("レコードを選択してください！");
			}
		}


		function downloadCsv() {
			
			/*<![CDATA[*/
			      var ctxPath = /*[[@{/}]]*/ '';
			/*]]>*/

			// 書き方よくない
			//$('#formSearch').attr("action","/ems-thymeleaf/buken/downloadCsv");
			
			
			// HTMLのタグから属性の内容を取得する
			var urlMoto = $('#formSearch').attr("action");
			
			//  HTMLタグ内の指定された属性に値を設定する
			$('#formSearch').attr("action",ctxPath + "buken/downloadCsv");
			
			// FORMをJAVA側にリクエストする
			$('#formSearch').submit();
			
			// FORMのactionを元の値で設定する
			$('#formSearch').attr("action",urlMoto);
		}


	</script>

</head>

<body>
	<div id="wrap">
		<div id="top_content">
			<div id="header">
				<div id="rightheader">
					<p>
						2009/11/20
						<br />
						<a th:href="@{/menu}">メニューに戻る</a>
						<a th:if="${session.user!=null}" th:href="@{/user/logout}">ログアウト</a>
						<a th:if="${session.user==null}" th:href="@{/login}">登録</a>
					</p>
				</div>
				<div id="topheader">
					<h1 id="title">
						<a href="#">main</a>
					</h1>
				</div>
				<div id="navigation">
				</div>
			</div>




			<div id="content">
				<p id="whereami">
				</p>
				<h1>
					ようこそ <span th:if="${session.user!=null}" th:text="${session.user.username}"></span>
					<span th:if="${session.user==null}">游客</span>!
				</h1>


				<form  id="formSearch" th:action="@{/buken/searchLst}" method="post">

					<table>
						<tr>
							<td>賃料</td>
							<td><input type="text" name="moneyRentMin" th:value="${vo.moneyRentMin}">～<input type="text"
									name="moneyRentMax" th:value="${vo.moneyRentMax}"></td>
						</tr>

						<tr>
							<td>所在地</td>
							<td><input type="text" name="location" th:value="${vo.location}"></td>
						</tr>

						<tr>
							<td>間取り</td>
							<td>
								<span th:each="entry : ${vo.masterMadoriMap}">
									<label><input type="checkbox" name="madori" th:value="${entry.key}"
											th:text="${entry.value.mDisplay1}"
											th:checked="${vo.madori !=null and vo.madori.contains(entry.value.mCode)}"></label>
								</span>
							</td>
						</tr>

						
						<tr>
							<td valign="middle" align="right">
								最寄り駅:
							</td>
							
							<td valign="middle" align="left">
							
								<select name="densyaType"  class="fixed-width">
									<option></option>
									<option th:each="entry : ${vo.masterDensyaTypeMap}" th:selected="${vo.densyaType==entry.value.mCode}" th:value="${entry.key}" th:text="${entry.value.mDisplay1}">
									</option>
																	
								</select>
								<select name="densyaNo"  class="fixed-width">
									<option></option>
								</select>
								<select name="ekiNo"  class="fixed-width">
									<option></option>
								</select>
							</td>
							
						</tr>
						
						<tr>
							<td>最寄り駅まで徒歩何分</td>
							<td><input type="text" name="nearStationTimeMin">～<input type="text"
									name="nearStationTimeMin">
							</td>
						</tr>
					</table>


					<div align="right">
						<input type="submit" value="検索">
					</div>

				</form>


				<form id="formLst" th:action="@{/buken/deleteAllExecute}" method="post">

					<table class="table">
						<tr class="table_header">
							<td>
								<input type="checkbox" id="selectAll">
							</td>
							<td>
								物件番号
							</td>
							<td>
								建物種別
							</td>
							<td>
								所在地
							</td>
							
							<td>
								最寄り駅
							</td>
							
							<td>
								築年数
							</td>
							<td>
								面積
							</td>
							<td>
								向き
							</td>
							<td>
								賃料
							</td>
							<td>
								間取り
							</td>
							<td>
								操作
							</td>
						</tr>
						<tr th:each="obj,state:${objLst}" th:class="${state.odd?'row1':'row2'}">
							<td>

								<input type="checkbox" th:value="${obj.buken.bukenId}" class="checkbox" name="bukenIds" />

							</td>
							<td>
								<span th:text="${obj.buken.bukenId}"></span>
							</td>
							<td>
								<span th:if="${obj.buken.bukenType != null && vo.masterTypeMap[obj.buken.bukenType]!=null}"
									th:text="${vo.masterTypeMap[obj.bukenType].mDisplay1}"></span>
							</td>
							<td>
								<span th:text="${obj.buken.location}"></span>
							</td>
							<td>
								<span th:text="${obj.ekiNm}"></span>
							</td>
							<td>
								<span th:text="${obj.buken.bukenYear}"></span>
							</td>

							<td>
								<span th:text="${obj.buken.area}"></span>
							</td>

							<td>
								<span th:if="${obj.buken.direction != null &&  vo.masterDirectionMap[obj.buken.direction]!=null}"
									th:text="${vo.masterDirectionMap[obj.buken.direction].mDisplay1}"></span>

							</td>
							<td>
								<span th:text="${obj.buken.moneyRent}"></span>
							</td>
							<td>
								<span th:if="${obj.buken.madori != null &&   vo.masterMadoriMap[obj.buken.madori]!=null}"
									th:text="${vo.masterMadoriMap[obj.buken.madori].mDisplay1}"></span>

							</td>
							<td>
								<a href="javascript:;" th:onclick="'deletebuken('+${obj.buken.bukenId}+')'">削除</a>
								<a th:href="@{/buken/updateInit(id=${obj.buken.bukenId})}">更新</a>
								<a th:href="@{/buken/detailInit(id=${obj.buken.bukenId})}">詳細</a>
							</td>
						</tr>
						<script>
							function deletebuken(id) {
								console.log(id);
								if (window.confirm('削除しますか?')) {
									location.href = '[[@{/buken/deleteAllExecute?bukenIds=}]]' + id;
								}
							}
						</script>
					</table>


					<p>
						<input type="button" class="button" value="追加" onclick="addbuken()" />
						<script>
							function addbuken() {
								location.href = '[[@{/buken/addInit}]]';
							}
						</script>
						<input type="button" class="button" value="一括削除" onclick="delAllRec()" />

						<input type="button" class="button" value="CSVダウンロード" onclick="downloadCsv()" />

					</p>

				</form>
			</div>
		</div>
		<div id="footer">
			<div id="footer_bg">
				ABC@126.com
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		var objLst = /*[[${objLst}]]*/ {};
		console.log(objLst);
	</script>

</body>

</html>