<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />

	<title>用户文件列表页面</title>
	
	<script th:src="@{/js/plug-in/jquery/jquery-3.7.1.min.js}"></script>
	<script>

	$(function () {
	var intervalId;
		$("#start").click(function(){
			console.log("开启定时更新。。。。。。");
			intervalId = setInterval(myFunc, 3000);
			
		});
		
		function myFunc() {
			
			$.get("[[@{/file/findAllJson}]]", function (res) {
				$.each(res, function (index, file) {
					$("#" + file.id).text(file.downcounts);
				})
			})
		}
		$("#stop").click(function(){
			console.log("关闭定时更新。。。。。。");
			clearInterval(intervalId);
		});

	});
		
	</script>

</head>

<body>
	<div id="wrap">
		<div id="top_content">
			<div id="header">
				<div id="rightheader">
					<p>
						2009/11/20
						<br />
						<a th:href="@{/menu}">返回菜单</a>
						<a th:if="${session.user!=null}" th:href="@{/user/logout}">安全退出</a>
						<a th:if="${session.user==null}" th:href="@{/login}">点我登录</a>
					</p>
				</div>
				<div id="topheader">
					<h1 id="title">
						<a href="#">main</a>
					</h1>
				</div>
				<div id="navigation">
				</div>
			</div>
			<div id="content">
				<p id="whereami">
				</p>
				<h1>
					欢迎 <span th:if="${session.user!=null}" th:text="${session.user.username}"></span>
					<span th:if="${session.user==null}">游客</span>!
				</h1>
				<h3>文件列表：</h3>

				<button id="start">开启定时更新</button>
				<button id="stop">关闭定时更新</button>
				<table border="1">
					<tr>
						<th>ID</th>
						<th>文件原始名称</th>
						<th>文件的新名称</th>
						<th>文件后缀</th>
						<th>存储路径</th>
						<th>文件大小</th>
						<th>类型</th>
						<th>是否是图片</th>
						<th>下载次数</th>
						<th>上传时间</th>
						<th>操作</th>
					</tr>
					<tr th:each="file,stat:${files}">
						<td><span th:text="${file.id}" /></td>
						<td><span th:text="${file.oldFileName}" /></td>
						<td><span th:text="${file.newFileName}" /></td>
						<td><span th:text="${file.ext}" /></td>
						<td><span th:text="${file.path}" /></td>
						<td><span th:text="${file.size}" /></td>
						<td><span th:text="${file.type}" /></td>
						<td>


							<img th:if="${file.isImg}=='Y'" th:src="@{/}+${file.path} +  '/'+${file.newFileName}" alt=""
								style="width: 30px; height: 30px;"></img>
							<!--				<img th:if="${file.isImg}=='Y'" th:src="${#servletContext.contextPath}+${file.path}+'/'+${file.newFileName}"></img>-->
							<span th:if="${file.isImg}!='Y'" th:text="${file.isImg}" />

						</td>
						<td th:id="${file.id}"><span th:text="${file.downcounts}" /></td>
						<td><span th:text="${#dates.format(file.createTime,'yyyy-MM-dd HH:mm:ss') }" /></td>
						<td>
							<a th:href="@{download(id=${file.id})}">下载</a>
							<a th:href="@{download(id=${file.id},openStyle='inline')}">在线打开</a>
							<a th:href="@{delete(id=${file.id})}">删除</a>
						</td>

					</tr>
				</table>
				<hr>
				<h3>上传文件：</h3>
				<form th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
					<input type="file" name="aaa"> <input type="submit" value="上传文件">
				</form>
			</div>
		</div>
		<div id="footer">
			<div id="footer_bg">
				ABC@126.com
			</div>
		</div>
	</div>
</body>

</html>