<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymealf.org">

<head>
	<title>専門学生追加画面</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<div id="wrap">
		<div id="top_content">
			<div id="header">
				<div id="rightheader">
					<p>
						2009/11/20
						<br />
					</p>
				</div>
				<div id="topheader">
					<h1 id="title">
						<a href="#">main</a>
					</h1>
				</div>
				<div id="navigation">
				</div>
			</div>
			<div id="content">
				<p id="whereami">
				</p>
				<h1>
					専門学生追加
				</h1>
				<form th:action="@{/senmon/save}" method="post">
					<table cellpadding="0" cellspacing="0" border="0" class="form_table">
						<tr>
							<td valign="middle" align="right">
								名前:
							</td>
							<td valign="middle" align="left">
								<input type="text" class="inputgri" name="studentName" />
							</td>
						</tr>

						<tr>
							<td valign="middle" align="right">
								性別:
							</td>
							
							
							<td valign="middle" align="left">
<!--								<input type="text" class="inputgri" name="sex" />-->


<!--                                    vo1-->

								<span th:each="entry : ${vo.masterSexMap}">
									<label> <input type="radio" th:value="${entry.key}"
											th:text="${entry.value.mDisplay1}" name="sex" /></label>
								</span>

<!--								<label> <input type="radio" name="sex" value="1">男</label>-->
<!--								<label> <input type="radio" name="sex" value="0">女</label>-->
								
								
								
								
							</td>
						</tr>
						<tr>
							<td valign="middle" align="right">
								学科:
							</td>
							<td valign="middle" align="left">
								
								
								<span th:each="entry : ${vo.masterGakkaMap}">
									<label><input type="checkbox" name="gakka" th:value="${entry.key}"
											th:text="${entry.value.mDisplay1}"></label>
								</span>
								
<!--								<input type="text" class="inputgri" name="gakka" />-->
<!--								<label> <input type="checkbox" name="gakka" value="1">gakka1</label>-->
<!--								<label> <input type="checkbox" name="gakka" value="2">gakka2</label>-->
							</td>
						</tr>
						<tr>
							<td valign="middle" align="right">
								コース:
							</td>
							<td valign="middle" align="left">
								<input type="text" class="inputgri" name="course" />
							</td>
						</tr>
						<tr>
							<td valign="middle" align="right">
								メールアドレス:
							</td>
							<td valign="middle" align="left">
								<input type="text" class="inputgri" name="mail" />
							</td>
						</tr>
						
						
					</table>
					<p>
						<input type="submit" class="button" value="確認" />
						<input type="button" class="button" value="検索一覧に戻る" onclick="returnSenmonList()" />
						<script>
							function returnSenmonList() {
								location.href = '[[@{/senmon/manageSenmon}]]';
							}

						</script>
					</p>
				</form>
			</div>
		</div>
		<div id="footer">
			<div id="footer_bg">
				ABC@126.com
			</div>
		</div>
	</div>
</body>

</html>