<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>物件検索一覧</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<script th:src="@{/js/plug-in/jquery/jquery-3.7.1.min.js}"></script>


	<style>
		/* コンボボックスの幅を固定値に設定 */
		select.fixed-width {
			width: 120px;
			/* 固定幅 */
		}
	</style>

	<script th:inline="javascript">

	</script>

</head>

<body>
	<div id="wrap">
		<div id="top_content">
			<div id="header">
				<div id="rightheader">
					<p>
						2009/11/20
						<br />
						<a th:href="@{/menu}">メニューに戻る</a>
						<a th:if="${session.user!=null}" th:href="@{/user/logout}">ログアウト</a>
						<a th:if="${session.user==null}" th:href="@{/login}">登録</a>
					</p>
				</div>
				<div id="topheader">
					<h1 id="title">
						<a href="#">main</a>
					</h1>
				</div>
				<div id="navigation">
				</div>
			</div>

			<div id="content">
				<p id="whereami">
				</p>
				<h1>
					ようこそ <span th:if="${session.user!=null}" th:text="${session.user.username}"></span>
					<span th:if="${session.user==null}">游客</span>!
				</h1>

				<form id="formSearch" th:action="@{/senmon/searchLst}" method="post">

					<table>

						<tr>
							<td>名前</td>
							<td><input type="text" name="studentName" th:value="${vo.studentName}"></td>
						</tr>

					</table>


					<div align="right">
						<input type="submit" value="検索">
					</div>

				</form>


				<form id="formLst" th:action="@{/buken/deleteAllExecute}" method="post">

					<table class="table">
						<tr class="table_header">
							<td>
								<input type="checkbox" id="selectAll">
							</td>
							<td>
								ID
							</td>
							<td>
								名前
							</td>
							<td>
								性別
							</td>

							<td>
								学科
							</td>

							<td>
								コース
							</td>
							<td>
								メールアドレス
							</td>
							<td>
								操作
							</td>
						</tr>
						<tr th:each="obj,state:${objLst}" th:class="${state.odd?'row1':'row2'}">
							<td>
								<input type="checkbox" class="checkbox" />
							</td>
							<td>
								<span th:text="${obj.studentId}"></span>
							</td>
							<td>
								<span th:text="${obj.studentName}"></span>
							</td>
							<td>
								<span th:text="${obj.sex}"></span>
							</td>
							<td>
								<span th:text="${obj.gakka}"></span>
							</td>
							<td>
								<span th:text="${obj.course}"></span>
							</td>
							<td>
								<span th:text="${obj.mail}"></span>
							</td>
							<td>
								<a href="javascript:;" th:onclick="'deletesenmon('+${obj.studentId}+')'">削除</a>
								<a th:href="@{/senmon/updateInit(studentId=${obj.studentId})}">更新</a>
								<a th:href="@{/senmon/detailInit(studentId=${obj.studentId})}">詳細</a>
							</td>
						</tr>
						<script>
							function deletesenmon(id) {
								console.log(id);
								if (window.confirm('削除しますか?')) {
									location.href = '[[@{/senmon/deleteAllExecute?senmonIds=}]]' + id;
								}
							}
						</script>
					</table>


					<p>
						<input type="button" class="button" value="追加" onclick="addsenmon()" />
						<script>
							function addsenmon() {
								location.href = '[[@{/senmon/addInit}]]';
							}
						</script>
						<input type="button" class="button" value="一括削除" onclick="delAllRec()" />

						<input type="button" class="button" value="CSVダウンロード" onclick="downloadCsv()" />
					</p>
				</form>
			</div>
		</div>
		<div id="footer">
			<div id="footer_bg">
				ABC@126.com
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		var objLst = /*[[${objLst}]]*/ {};
		console.log(objLst);
	</script>

</body>

</html>