<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--交给工厂管理-->
    <bean id="cat2" class="com.baizhi.z.test.entity.Cat2Bean">
    	<property name="id" value="aaa"></property>
    </bean>

</beans>